/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* fonts */

/* tailwind css import */
@import "tailwindcss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Archivo', sans-serif;
}
body {
  margin: 0px;
  background: #1d1d1d;
}
h2 {
    font-size: 1rem;
    font-weight: 900;
    color: #fafafa;
    margin-top: 3em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
.bg-white {
  background-color: transparent !important;
  width: 35%;
  margin: auto;
}
.width-body {
  width: 60% !important;
  margin: 30px auto;
}
.a-link {
  background: #17597d;
  padding: 0.2em;
  border-radius: 5px;
  color: #fafafa;
  font-weight: 700;
}
.a-link:hover {
  background: #fafafa;
  color: #17597d;
  transition: 0.2s ease-in-out;
}


/* Navbar */
header nav {
  background: #1d1d1d;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  position: sticky;
  top: 0px;
  z-index: 10;
  line-height: 80px;
}
ul a {
  color: #ffffff;
  align-items: center;
  position: relative;
  text-decoration: none;
  margin: 30px;
  height: 100%;
  cursor: pointer;
  margin-top: 0px;
}
ul a:hover {color: #ffffff;}
ul li a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
ul a:hover::before {transform: scaleX(1);}
.logo a {
  justify-self: flex-start;
  cursor: pointer;
  display: flex;
  align-items: left;
  padding: 0 !important;
}
.logo a:hover {
  background: none;
  color: none;
  text-decoration: none !important;
}
.crest { 
  margin: 20px;
  height: 40px;
}
.arrowIcon {
  display: none;
  color: red;
  width: 100%;
  margin: -45px;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1110px;
}
nav .burgerMenu {
  display: none;
  position: absolute;
  top: 2rem;
  right: 0.75rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 1.7rem;
  z-index: 1;
}
nav .burgerMenu span:nth-child(1), span:nth-child(2), span:nth-child(3) {
  height: 0.2rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
}
nav .burgerMenu span:nth-child(2) {
  height: 0.2rem;
  width: 60%;
}
nav .burgerMenu span:nth-child(3) {
  height: 0.2rem;
  width: 30%;
}
nav ul {display: inline-flex;}
nav ul.open {
  display: flex;
  background: #1d1d1d;
}


@media screen and (max-width: 1024px) {
.sm\:grid-cols-12 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
.top-\[calc\(100\%-13rem\)\] {
  top: calc(100% - 47rem) !important;
}
}

@media screen and (max-width: 950px) {
.navContainer {padding: 0px 70px;}
.sm\:grid-cols-12 {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}
.sm\:top-\[calc\(10\%-3rem\)\] {
  top: calc(10% - -26rem) !important;
}
.sm\:w-\[47\.1875rem\] {
  width: 69.1875rem !important;
}
.sm\:left-\[calc\(50\%\+34rem\)\] {
  left: calc(50% + 21rem) !important;
}
}

@media screen and (max-width: 850px) {
nav .burgerMenu {
  display: flex;
  right: 4rem;
}
nav {
  flex-direction: column;
  align-items: start;
}
.navContainer {
  padding: 0;
  display: block;
}
ul a {
    color: white;
    align-items: center;
    position: relative;
    text-decoration: none;
    padding: 10px;
    margin: 30px auto;
    cursor: pointer;
    margin-top: 0px;
    width: 50%;
  }
  ul a:hover {
      color: #1d1d1d;
      background: #ffffff;
    }
  ul a:hover::before {
      transform: none;
    }
  nav ul {
    display: none;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100px);
    width: 100%;
    margin-bottom: 0.25rem;
  }
  nav ul.open {
    display: grid;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    text-align: center;
  }
  nav ul a {
    margin-top: 10rem;
    font-size: 2rem;
  }
  .logo {margin-left: 4rem;}
  .arrowIcon {
    display: flex;
    color: red;
    width: 200%;
    margin: -60px;
  }
  .sm\:py-10 {
    padding-top: 5.5rem !important;
    padding-bottom: 5.5rem !important;
  }
}

@media screen and (max-width: 768px) {
  .top-\[calc\(100\%-13rem\)\] {
    top: calc(100% - 58rem) !important;
}
}

@media screen and (max-width: 750px) {
  nav ul a {
    margin-top: 2rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .sm\:py-10 {
    padding-top: 5.5rem !important;
    padding-bottom: 5.5rem !important;
  }
  .px-6 {
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
}
}

@media screen and (max-width: 600px) {
  nav ul a {
    font-size: 2rem;
    margin-top: 5rem;
}
   nav ul {
    grid-template-rows: repeat(6, 106px);
  }
  .sm\:py-10 {
    padding-top: 1.5rem !important;
    padding-bottom: 5.5rem !important;
  }
  .sm\:left-\[calc\(50\%\+34rem\)\] {
    left: calc(50% + 39rem) !important;
}
  .sm\:top-\[calc\(10\%-3rem\)\] {
    top: calc(1% + -16rem) !important;
  }
.feature-image {
    border-radius: 15px !important;
}
}

@media screen and (max-width: 500px) { 
.logo {
    margin-left: 2rem;
}
nav .burgerMenu {
    right: 2rem;
}
nav ul.open {
    margin-top: 0em;
}
nav ul a {
  margin-top: 5rem;
}
.sm\:left-\[calc\(50\%\+34rem\)\] {
  left: calc(50% + 21rem) !important;
}
.top-\[calc\(100\%-13rem\)\] {
  top: calc(100% - 60rem) !important;
}
}

@media screen and (max-width: 400px) {
nav ul.open {
    margin-top: 0em;
}
nav ul a {
  margin-top: 3rem;
}
.landing-heading, .landing-sub-heading {
  font-size: 2rem !important;
}
.pt-14 {
  padding-top: 1.5rem !important;
  padding-bottom: -3.5rem !important;
}
.px-6 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}
}


/* Landing */
.my-20 {
  margin-bottom: 8rem ;
}
h1 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 800;
  margin-top: 1em;
}
#hero-job {
  font-size: 1.1rem;
}
#content-intro {
  color: #ffffff;
  font-size: 1rem;
  margin-top: -1em;
}
.job-title {
  margin-bottom: -1em;
  font-size: 1.1rem;
  color: #ffffff;
  margin-top: 1.5em;
}
.job-desc {
  font-size: 0.9rem;
  margin-bottom: 0.5em;
  margin-top: 2em;
}
.job-content {
  font-size: 0.9rem;
  margin-bottom: 1em;
}
.contact-icon {
  border: 1px solid #ffffff;
  border-radius: 12px;
  color: #ffff;
  padding: 0.5em;
}
.contact-icon:hover {
  color: #1d1d1d;
  background: #fafafa;
  transition: 0.1s ease-in;
}
.contact-icon a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  justify-content: center;
}
.pill {
  background: #c3c5ca;
  color: #292929;
  border-radius: 100px;
  padding: 5px;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.8rem;
  margin-right: 5px;
  font-weight: 700;
}

@media screen and (max-width: 1800px) {
.bg-white {width: 40% !important;}
}

@media screen and (max-width: 1650px) {
.bg-white {width: 45% !important;}
}

@media screen and (max-width: 1550px) {
.bg-white {width: 50% !important;}
}

@media screen and (max-width: 1340px) {
.bg-white {width: 60% !important;}
}

@media screen and (max-width: 1024px) {
  .bg-white {width: 65% !important;}
  .my-20 {
    margin-top: 3rem !important;
    margin-bottom: 6em !important;
  }
  .my-10 {margin-top: 1rem !important;}
  .mt-20 {margin-top: 8rem !important;}
}

@media screen and (max-width: 850px) {
  .bg-white {width: 70% !important;}
  .heading-two {font-size: 1.3rem;}
}

@media screen and (max-width: 600px) {
  .hero-intro {font-size: 1.8rem;}
  #hero-job {font-size: 1.2rem;}
  .grid-cols-3 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}
  .my-20 {margin-top: 4rem !important;}
}

@media screen and (max-width: 500px) {
  .bg-white {width: 80% !important;}
  .my-20 {margin-top: 3rem !important;}
}


/* projects */
.cards-wrapper {
  margin-top: 3em;
  margin-bottom: 10em;
}
.project-title {
  margin-top: 1em;
  margin-bottom: 1.5em;
}
.project-heading, .project-btn {
  text-align: center;
  justify-content: center;
  display: flex;
}
.pill-2 {
  display: inline;
  background: #c3c5ca;
  color: #292929;
  border-radius: 100px;
  padding: 5px;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.8rem;
  margin-right: 5px;
  font-weight: 700;
}
.project-text {margin-top: 1em;}
.project-btn {
  margin: 2em auto;
  background-color: #fafafa;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  font-family: 'Archivo';
  font-weight: 700;
}
.git-repo {
  margin: 4em auto;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}
.git-icon {
  margin: auto;
  color: #ffffff;
  font-size: 2.5em;
}
.project-btn:hover {
  background: none;
  border: 2px solid #fafafa;
  color: #fafafa;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.screenshot-thumb {margin-top: 3em;}
.project-screenshots {margin-bottom: 6em;}

@media screen and (max-width: 1200px) {
.grid-cols-3 {grid-template-columns: repeat(2, minmax(0, 1fr));}
}

@media screen and (max-width: 768px) {
.grid-cols-3 {grid-template-columns: repeat(1, minmax(0, 1fr));}
}

@media screen and (max-width: 600px) {
.project-btn {width: 100%;}
}